.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.txt
*.html
*.pptx
*.pdf
*.png
*.rds
*.tsv
*.ai
*.tif
*.svg
*.csv
*.xlsx
*.seg
*.json
**/LICENSE
*.log
**/figure export
**/TCGA_GSVA_survival
Chemoresistance manuscript/TCGA survival analysis/TCGA_GSVA_survival_analysis.Rmd
**/06-19-23 images/
**/08-23-22 U87L cell death day 3/
**/08-24-22 U87L cell death day 4/
**/08-25-22 U87L cell death day 5/
**/luminex plots
*.ini
